@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 80px);
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
}

.hero p {
    font-size: 20px;
    text-transform: uppercase;
    color: #113CFC;
}

nav {
    background: #fff;
    height: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1000;
}

nav a {
    flex: 1;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: .2s ease-in-out all;
    font-weight: 500;
}

nav a:hover {
    background: #f2f2f2;
}

nav .indicador {
    width: 0px;
    height: 7px;
    background: #113cfc;
    position: absolute;
    bottom: 0;
    transition: .3s ease-out all;
    /* transform: translate(-500px); */
}

.seccion {
    min-height: 100vh;
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.seccion .card {
    background: #fff;
    height: 90%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.seccion h1 {
    font-size: 20px;
    font-weight: 600;
}

.seccion p {
    line-height: 20px;
    margin-bottom: 40px;
    color: #383838;
    font-size: 15px;
}

.seccion img {
    width: 100%;
    vertical-align: top;
    margin-bottom: 20px;
}

.group-itens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.formulario__label {
    display: block;
    font-weight: 700;
    padding: 10px;
    text-align: justify;
}

.parrafo {
    text-align: justify;
}

.sub-titulo {
    text-align: center;
}

.formulario__grupo-input {
    position: relative;
}

.formulario__input {
    width: 100%;
    background: #f2f2f2;
    border: 3px solid transparent;
    border-radius: 3px;
    height: 45px;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: .3s ease all;
}

.formulario__input:focus {
    border: 3px solid #0075FF;
    outline: none;
    box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario__input-error {
    font-size: 12px;
    margin-bottom: 0;
    display: none;
}

.formulario__input-error-activo {
    display: block;
}

.formulario__validacion-estado {
    position: absolute;
    right: 10px;
    bottom: 15px;
    z-index: 100;
    font-size: 16px;
    opacity: 0;
}

.formulario__checkbox {
    margin-right: 10px;
}

.formulario__grupo-terminos,
.formulario__mensaje,
.formulario__checkbox,
.formulario__grupo-btn-texto1,
.formulario__grupo-btn-enviar {
    grid-column: span 2;
}

.formulario__mensaje {
    height: 45px;
    line-height: 45px;
    background: #F66060;
    padding: 15px;
    border-radius: 3px;
    display: none;
    text-align: center;
}

.formulario__mensaje-activo {
    display: block;
}

.formulario__mensaje p {
    margin: 0;
}

.formulario__grupo-btn-enviar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__grupo-btn-texto1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario__btn {
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: #4070f4;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
}

.formulario__btn:hover {
    background-color: #265df2;
}

.formulario__mensaje-exito {
    font-size: 14px;
    padding: 15px;
    color: #119200;
    display: none;
    text-align: center;
}

.formulario__mensaje-exito-activo {
    display: block;
}


/* ----- -----  Estilos para Validacion ----- ----- */

.formulario__grupo-correcto .formulario__validacion-estado {
    color: #1ed12d;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
    color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
    color: #bb2929;
    opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
    border: 3px solid #bb2929;
}

@media screen and (max-width: 800px) {
    nav a {
        font-size: 14px;
        padding: 5px;
    }
    .group-itens {
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    nav a {
        font-size: 12px;
    }
    .group-itens {
        grid-template-columns: 1fr;
    }
    .formulario__grupo-terminos,
    .formulario__mensaje,
    .formulario__grupo-btn-enviar {
        grid-column: 1;
    }
    .formulario__btn {
        width: 100%;
    }
}